body.work {
    margin: 2rem 2rem;
    font-family: Consolas, Inconsolata, Monaco, monospace;
    background-color: white;
}
body {
    margin: 2rem 2rem;
    font-family: Consolas, Inconsolata, Monaco, monospace;
    background-color: ghostwhite;
}
h1 {
    margin: 3rem 0 2rem;
    font-size: 3rem;
}
h1.invisible {
    color: white;
    font-size: 0rem;
}
h2 {
    margin: 2rem 0 1rem;
}
p {
    margin: 1rem 0 1rem;
}
button.work {
    background-color: ghostwhite;
    color: black;
    border: none;
    font-family: Consolas, Inconsolata, Monaco, monospace;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    display:inline-block;
    cursor: pointer;
}
button {
    background-color: white;
    color: black;
    border: none;
    font-family: Consolas, Inconsolata, Monaco, monospace;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    display:inline-block;
    cursor: pointer;
}
div.standard {
    margin: 2rem 0 1rem;
}
div.menu-buttons {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
}
div.image-container {
    display: block;
    margin-bottom: 2rem;
}
figure {
    display: block;
    width: 100%;
    margin: 150px auto;
}
iframe {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto
}
figcaption {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 1rem auto 0;
    text-align: left;
}
img.scaled {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
img.clickable-image {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
img.clickable-image.enlarged {
    max-width: 100%;
}
img.shadow {
    filter: drop-shadow(0.5px 0.5px 5px grey)
}
form  {
    background-color: white;
    width: fit-content;
    margin: 2rem 0 1rem;
    padding: 1rem 1rem;
    font-family: Consolas, Inconsolata, Monaco, monospace;
}
form label {
    margin: 1rem 0 1rem;
    font-weight: 700;
}
form input[type="text"] {
    background-color: ghostwhite;
    margin: 1rem 0 1rem;
    padding: .05rem 1rem;
    font-family: Consolas, Inconsolata, Monaco, monospace;
    font-size: 1rem;
    border-width: thin;
}
form input[type="submit"] {
    background-color: ghostwhite;
    border: none;
    margin: 1rem 0 1rem;
    padding: .07rem 1rem;
    text-align: center;
    font-family: Consolas, Inconsolata, Monaco, monospace;
    font-size: 1rem;
    color: black;
    cursor: pointer;
}