body {
    margin: 1rem 2rem;
    font-family: Consolas, Inconsolata, monospace;
    background-color: ghostwhite;
}
h1 {
    margin: 2rem 0 1rem;
}
h2 {
    margin: 1rem 0 1rem;
}
p {
    margin: 1rem 0 1rem;
}
div {
    margin: 2rem 0 1rem;
}
button {
    background-color: white;
    color: black;
    border: none;
    font-family: Consolas, Inconsolata, monospace;
    padding: 0.5rem 1rem;
    text-align: center;
    display:inline-block;
    cursor: pointer;
}
figure {
    margin: 1rem 0 1rem;
}
img.scaled {
    max-height: 1050px;
}
form  {
    background-color: white;
    margin: 1rem 0 1rem;
    padding: 1rem 1rem;
    font-family: Consolas, Inconsolata, monospace;
    label {
        margin: 1rem 0 1rem;
        font-weight: 700;
    }
    input[type="text"] {
        background-color: ghostwhite;
        margin: 1rem 0 1rem;
        padding: .05rem 1rem;
        font-family: Consolas, Inconsolata, monospace;
        font-size: 1rem;
    }
    input[type="submit"] {
        background-color: ghostwhite;
        border: none;
        margin: 1rem 0 1rem;
        padding: .05rem 1rem;
        text-align: center;
        font-family: Consolas, Inconsolata, monospace;
        font-size: 1rem;
        color: black;
    }
}